.back-to-top {
	position: fixed;
	bottom: 3rem;
	cursor: pointer;
	z-index: 1;
	border-radius: 50%;
	background-color: map-get($color, yellow);
	width: 3.1rem;
	height: 3.1rem;
	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		transform: rotate(-45deg);
		box-sizing: inherit;
		word-break: break-word;
		word-wrap: break-word;

		width: 1.125rem;
		height: 1.125rem;
		top: 1.125rem;
		left: 0;
		right: 0;
		margin: 0 auto;
		border-top: 0.25rem solid map-get($color, primary);
		border-right: 0.25rem solid map-get($color, primary);
	}

	&.show {
		animation: show 800ms ease-in-out both;
	}

	&.hide {
		animation: hide 800ms ease-in-out both;
	}

	@include respond-above(small) {
		width: 2.5rem;
		height: 2.5rem;

		&:after {
			width: 0.75rem;
			height: 0.75rem;
			top: 0.938rem;
		}
	}
}

@keyframes show {
	from {
		right: -50%;
	}
	to {
		right: 2%;
	}
}

@keyframes hide {
	from {
		right: 2%;
	}
	to {
		right: -50%;
	}
}
