.tooltip {
	position: relative;
	display: flex;

	&:hover {
		.tooltip-content {
			display: block;
		}
	}

	&-content {
		position: absolute;
		top: 100%;
		left: 0;
		transform: translate(-4px, 4px);
		display: none;
		width: max-content;
		max-width: calc(100% + 8px);
		padding: 4px;
		border-radius: 4px;
		background-color: map-get($color, gray-medium);
		z-index: 1;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	}
}
